// header

.site-header {
	background-color: #fff;

	.site-nav {
		padding: 70px 0;

		.main-nav-trigger {
			float: right;
			position: relative;
			bottom: 10px;
		}
		
		.horizontal-nav{
			float: right;
			z-index: 100;

			li {
				display: inline-block;
				margin-left: 50px;


				a {
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					color: #000;
					padding: 10px 15px;
					.transition();

					&:hover {
						background-color: #dddce4;
					}
				}
			}
		}

	}
}

// slider

.slider {
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10;


	.slides {
		width: 1062px*3;

		li {
			float: left;

			img {
				width: 100%;
				height: auto;	
			}
		}	
	}

	.arrows {

		.rightArrow{
			position: absolute;
			right: 0;
			top: 0;
			font-size: 30px;
			height: 100%;
			width: 70px;
			.transition();

			&:hover {
				background-color: #000;
				opacity: 0.6;
			}

			.icon-arrow-circle-right {
				position: absolute;
				top: 40%;
				right: 20px;
			}	
		}

		.leftArrow{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 30px;
			height: 100%;
			width: 70px;
			.transition();

			&:hover {
				background-color: #000;
				opacity: 0.6;
			}

			.icon-arrow-circle-left {
				position: absolute;
				top: 40%;
				left: 20px;
			}	
		}
	}
}