// header

.site-header {
	background-color: #fff;

	.site-nav {
		padding: 70px 0;

		.main-nav-trigger {
			float: right;
			position: relative;
			bottom: 10px;
		}
		
		.horizontal-nav{
			float: right;
			z-index: 100;

			li {
				display: inline-block;
				margin-left: 50px;


				a {
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					color: #000;
					padding: 10px 15px;
					.transition();

					&:hover {
						background-color: #dddce4;
					}
				}
			}
		}

	}
} // header

// slider

.slider {
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10;


	.slides {
		width: 1062px*3;

		li {
			float: left;

			img {
				width: 100%;
				height: auto;	
			}
		}	
	}

} // slider