//basic tags and general rules
body, h1, h2, h3, h4, p, span{
	margin: 0;
	padding: 0;	
}

body {
	font-size: @font-size;
	line-height: 1;
	font-family: 'Play', Arial, sans-serif;
	font-weight: 200;
}

h2 {
	font-size: 30em/@font-size;
}

.container {
	background-color: #fff;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}